{% extends 'profile_layout.html' %}

{% block content%}

<div class=" pl-5 pt-3 pb-3  container bg-light">
    <div class="stnd-btn" type="button"><a href="{% url 't_classroom' %}" style="text-decoration: none; color:white;">
            <i class="fas fa-arrow-left"></i> Gå tillbaks</a></div>

    <h1 class="mt-3">Klass: {{classroom.name}}</h1>
    <div class="courses">
        <hr>
        <h3>Kurser: </h3>
        <ul>
            {% for course in courses %}
            <li>{{course}}</li>
            {%endfor%}
        </ul>
        <div class="stnd-btn" type="button"><a style="text-decoration: none; color:white;">+ Lägg till kurs</a></div>
    </div>
    <div class="students mt-3">
        <h3>Elever:</h3>
        <ul>
            {% for student in students %}
            <li>{{student}}<a href="{% url 'remove_student' classroom.id student.id %}"> <span class="btn btn-danger pb-0 pl-2 pr-2 pt-0 ml-2">  x</span></a> </li>
            
            {%endfor%}
        </ul>
        <div class="stnd-btn" id="add_btn" type="button" data-toggle="modal" id="#add">
            <a  href="{% url 'add_students' classroom.id %}" style="text-decoration:none; color:white;">+ Lägg till elever</a></div>
        </div>
        
    
    

</div>
<script>
    console.log("hello")
    let add_btn = document.querySelector('#add_btn');
    add_btn.addEventListener('click', add_student);
    function add_student(){
        const add_form = document.querySelector('#add_student_form');
        add_form.style="display:block";
        console.log(add_form)
    }
   
</script>
{% endblock %}

