<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'profilepage/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://kit.fontawesome.com/dcd3bbc21c.js" crossorigin="anonymous"></script>
    <link rel="ICON" href="https://icon-library.com/images/icon-programing/icon-programing-12.jpg" type="image/ico" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    {% block extrahead %}{%endblock%}
    <title>Document</title>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <nav class="navbar navbar-expand navbar-dark navigation py-1 ">
        <a class="navbar-brand d-flex flex-inline" href="{% url 'landing' %}">
            <img class="brand-img" src="https://icon-library.com/images/icon-programing/icon-programing-12.jpg"
                width="30" height="30" class="d-inline-block align-top" alt="">
            <p class="d-flex m-0 ms-2 logo-text">ProggaMera</p>
        </a>
        <!-- Right elements -->
        <div class="container-fluid d-flex justify-content-end  ">
            <div class="d-flex align-items-center">
                <!-- Notifications -->
                <div class="dropdown">
                    <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-success">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">The important thing</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="dropdownMenuLinkAvatar"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img width="30px" src="https://avatars.dicebear.com/api/bottts/{{user.get_username}}.svg?mood[]=happy">
                           
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" style="left:auto; right:0;" aria-labelledby="dropdownMenuLinkAvatar">
                        {% if user.is_teacher%}
                            <li>
                                <a class="dropdown-item" href="{% url 'teacher_dash' %}">My profile</a>
                            </li>
                        {% else %}
                            <li>
                            <a class="dropdown-item" href="{% url 'student_dash' %}">My profile</a>
                            </li>
                            {%endif%}
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Sidebar-->
   {% block sidebar%}
    <div class="sidebar">
        <div class="profile_info">
            <!---->
          <img src="https://avatars.dicebear.com/api/bottts/{{user.get_username}}.svg?mood[]=happy" class="profile_image" alt="">
          <h4>{{user.get_username.title}}</h4>
        </div>
        {% if user.is_teacher %}
            <a href="{%url 'teacher_dash' %}"><i class="fas fa-desktop"></i><span>Översikt</span></a>
            <a href="{%url 't_classroom' %}"><i class="fas fa-cogs"></i><span>Klassrum</span></a>
            <a href="{% url 't_excercises' %}"><i class="fas fa-table"></i><span>Uppgifter</span></a>
            <a href="{%url 't_results' %}"><i class="fas fa-th"></i><span>Uppföljning</span></a>
            <a href="#"><i class="fas fa-table"></i><span>Kurser</span></a>
            <a href="#"><i class="fas fa-info-circle"></i><span>Guide</span></a>
            <a href="#"><i class="fas fa-cog  "></i><span>Inställningar</span></a>
        {%else%}
            <a href="{%url 'student_dash' %}"><i class="fas fa-desktop"></i><span>Översikt</span></a>
            <a href="{% url 's_classroom'%}"><i class="fas fa-cogs"></i><span>Klassrum</span></a>
            <a href="{% url 's_courses'%}"><i class="fas fa-table"></i><span>Kurser</span></a>
            <a href="#"><i class="fas fa-th"></i><span>Resultat</span></a>
            <a href="#"><i class="fas fa-info-circle"></i><span>Guide</span></a>
            <a href="#"><i class="fas fa-cog  "></i><span>Inställningar</span></a>
        {%endif%}
        
      </div>
    {%endblock%}
    <!-- <div class="loader"></div> -->
      <div class="content">
        
        <div class="d-flex justify-content-end darkmode mx-3 mt-3">
            <div class="dark-light border rounded d-flex p-1  "><i id="moon" class="fa-solid fa-moon pr-2 "></i><i id="sun" class="fas fa-light fa-sun"></i></div>
        </div>
        
        {% block content %}
        
        {% endblock%}
      </div>
    <script src="https://kit.fontawesome.com/de183acae2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
      function loader(){
          showPage();
      }
      function showPage() {

        document.querySelector(".loader").style.display = "none";
        document.querySelector(".content").style.display = "block";

        }
      let darklight = document.querySelector('.dark-light');
      darklight.addEventListener('click',darkmode);
        
      function darkmode(){
        let content = document.querySelector('.content');
        let table=document.querySelector('.table');
        
        if(content.style.backgroundColor=="white"){
            darklight.classList.remove('bg-dark');
            content.style.backgroundColor="#242323"
            content.style.color="white";
            darklight.style.color="black";
            table.classList.add("table")
            table.classList.remove('table-dark');
            
           
        }
        else{
            darklight.classList.add('bg-dark');
            darklight.style.backgroundColor="white";
            content.style.backgroundColor="white";
            content.style.color="black";
            darklight.style.color="white";
            table.classList.add("table-dark")
        
        }
        
      }
  </script>
   {% block endscripts%}
   {%endblock%}
</body>

</html>