{% extends 'profile_layout.html' %}

{%block content%}
{% if messages %}

    
    <div class="modal " id="messageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
            <h5 class="modal-title">Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            {% for message in messages%}
            {% if message.tags == "added_classroom info" %}
                <p>{{message}}</p>
            {%endif%}
            {%endfor%}
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
        
    
{% endif %}
<div class="classes">
    {% for classroom in classes.all %}
    <div class="class">
        <h3>Klass: {{classroom.name}}</h3>


        <hr style="border-color:white;">
        <p>Lärare: {{classroom.teacher}} </p>
        <h4>Klassens kurser:</h4>
        {% for course in classroom.courses.all %}

        {{course}}
        <br>
        {%endfor%}

        <hr>
        <div class="class-footer ">
            <div class="stnd-btn" type="button"><a
                    style="text-decoration: none; color:white;">Gå till klassrummet</a></div>
        </div>
    </div>
    
    {%endfor%}
</div>
<script>
     $(document).ready(function(){
        $("#messageModal").modal('show');
    });
</script>
{%endblock%}
