{% extends 'profile_layout.html' %}

{% block content%}
<h3>Här är dina kurser</h3>
<hr>
{% for course in courses%}
    <div class="d-flex align-items-center pb-4">
        <h4 class="py-2  px-3">{{course}}</h4>
        <div>
            <a href="{% url 'subchapter' course.id 1 1 %}?page=1" style="text-decoration: none; color:white;">
                <div class="stnd-btn " type="button">Gå till kurs  <i class="fas fa-arrow-right"></i></div>
            </a>
            
        </div>
        
    </div>
{%endfor%}
{%endblock%}