{% extends 'profile_layout.html' %}
{% block extrahead%}
<script src="profilepage/scripter.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.1.0"></script>
<script>
    $(document).ready(function () {
    
        $('#add_class_form').hide()
        $('#add_class').click(function () {
            $('#add_class_form').show()
        });
    });

    



</script>

<script src="https://unpkg.com/htmx.org@1.1.0"></script>
{%endblock%}
{% load static%}
{% block content %}
<div class="d-flex mt-3">
    <h1>Your classrooms</h1>
    <div class="stnd-btn m-3 ms-5 pt-1 " ><a style="text-decoration: none; color:white;" id="add_class">+</a> </div>
</div>
<div id="add_class_form">
    <!-- Make into modal and use htmx -->
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
<div class="classes d-flex gap-5 flex-wrap pb-5 me-3 ">
    
    {% for classroom in classes.all %}
        {% for course in classroom.courses.all %}
        <div class="course_group d-flex-column mt-4 mb-1 flex-basis-auto position-relative">
            <div class="class_header {{forloop.counter}} d-flex align-items-center justify-content-between">
                
                <b>{{classroom}} - {{course}}</b>
                <img class="" src="{% static 'profilepage/bx_cog.png' %}" alt="">
            </div>
            <div class="card-body p-3 pb-1">
                <b>Lärare:</b> {{classroom.teacher}} 
                <br>

                <b>Uppgifter:</b>
                <!-- For task in classroom -->
                <div class="tasks">
                    <p class="m-1">Läsa kapitel 5.1</p>
                    <p class="m-1">Detta är hårdkodat</p>
                    <p class="m-1">Läsa kapitel 5.1</p>
                </div>
                <br>
                <b>Antal elever:</b>
                <p>{{classroom.students.all |length}}</p>
                    
            </div>
            <a href="{% url 'curr_classroom' classroom.id course.id %}" class="stretched-link"></a>  
        </div>
        
        {%endfor%}
    {%endfor%}
</div>


{% endblock%}
{% block endscripts %}
<script>
    var div = document.getElementsByClassName('class-content');
    var classroomelement=document.querySelectorAll(".class h3")
    for (let i = 0; i<div.length; i++) {
        var hasVerticalScrollbar = div[i].scrollHeight > div[i].clientHeight;
        
        if (hasVerticalScrollbar){
            let readbtns = document.getElementsByClassName('displaymore-btn');
            let readbtnklass = "Klass: " + readbtns[i].id;
            if(classroomelement[i].innerHTML==readbtnklass){
                readbtns[i].style.display="block";
                div[i].style.overflow="hidden";
            }
            
            
            
            
        }
    }
    
   function readmore(object){
       
       let thing=object.parentNode.parentNode;
       let content = thing.childNodes[3];
       if(String(content.style.maxHeight)==="100%"){
           content.style.maxHeight="300px";
           thing.style.maxHeight="470px";
           object.innerHTML="Se mer.."
       }
       else{
            console.log(content.style.maxHeight);
            thing.style.maxHeight="100%";
            object.innerHTML="Se mindre.."
            content.style.maxHeight="100%";
       }
       
        
    }
    
</script>

{%endblock%}