{% extends 'profile_layout.html' %}

{% block extrahead%}
{% load static %}
<link rel="stylesheet" href="{% static 'courses/style.css' %}">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/monokai.min.css">
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js">
</script>
<script src="{% static 'courses/script.js' %}"></script>

<script>
    hljs.highlightAll();
</script>
<script>
    hljs.initLineNumbersOnLoad();
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


{%endblock%}
{% block sidebar %}

<section id="sidebar" class="sidebar-course close">
    <div>
        <div id="accordion">

            <h4 id="sidebarCollapse" style="cursor:pointer;"
                class="text-center pb-2 d-flex justify-content-around align-items-center">{{course}} <i
                    id="sidebarCollapse" class="fas fa-solid fa-bars fa-sm"> </i></h4>
            {% for chapter in chapters%}

            <div class="card">

                <div class="card-header d-flex justify-content-between align-items-center" data-toggle="collapse"
                    data-target="#collapse{{forloop.counter}}" id="headingOne">
                    <h6 class="mb-0">

                        <button class="btn btn-link  " data-toggle="collapse" data-target="#collapse{{forloop.counter}}"
                            aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                            <h7>{{forloop.counter0}}. {{chapter}} </h7>
                        </button>
                    </h6>
                    <i class="fas fa-arrow-down ms-5"></i>
                </div>


                <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">

                        {% for subchap in chapter.sub.all %}

                        <div class="sub-text">
                            <p class="ps-4"><a class=""
                                    href="{% url 'subchapter' course.id chapter.chapter_number 1 %}?page={{forloop.counter}}">{{forloop.counter0}}.
                                    {{subchap}}</a></p>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>


        {%endfor%}

    </div>
</section>
{%endblock%}
{% block content %}
<div class="congrats">
    <lottie-player class="player" src="https://assets3.lottiefiles.com/packages/lf20_lg6lh7fp.json"
        background="transparent" speed="1" style="width: 80%; height: 80%;"></lottie-player>
</div>
<div id="cont" class="d-flex justify-content-center course-content pt-2 mb-5 pb-4">
    {% if page_obj %}
    {% load embed_video_tags %}
    {% for subchapter in page_obj%}

    <div class="cont ms-5 w-75 pl-5 pr-3">
        <!-- <pre><div class="editor"></div></pre>
            <input id="run-button" type="submit" value="Kör"> -->






        <div class="course-content pt-3 ">
            <h3><b>{{subchapter.subchapter_number}}. {{subchapter}}</b></h3>
        </div>
        <div id="player">
            {% video subchapter.video.video 'tiny' %}
           
        </div>
        <form class="timerform" hx-post="{% url 'timer' subchapter.video.id %}" hx-swap="none">
            <input  id="timer" type="hidden" value="0" name="{{request.build_absolute_uri}}">
            <input id="timerformsubmit" type="submit" style="display:none">
        </form>
        <div class=" pb-4 ">
            <p class="text-justify">{% autoescape off %}{{subchapter.content}}{% endautoescape %}</p>
        </div>
        <br>
        {% if fill_in_blanks %}
        {% for fill_in_blank in fill_in_blanks%}

        <div class="fill-in-the-blank p-3 mb-3 rounded ">
            <h3>Fyll i resterande kod: {{fill_in_blank.title}}</h3>
            <p>{{fill_in_blank.description}}</p>
            <div class="fill-in-part p-3 rounded">
                <div class="input">


                    <div class="code-text">{{fill_in_blank.code_before}}
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="code-text">{{fill_in_blank.code_on_input_line_before}}</div>


                        <form class="d-flex align-items-center" hx-post="" hx-swap="innerHTML" hx-target="#result">
                            {%csrf_token%}

                            <input class="input-field" id="fill-in-1" type="text" name="user_input"
                                size="{{fill_in_blank.input_length}}" {%  if student_fill_result.first.answer %}
                                value="{{student_fill_result.first.answer}}" {%else %} placeholder="Svar" {%endif%}>

                            <input class="input-field" id="answer" type="hidden" value="{{fill_in_blank.answer}}">
                            
                            <div class="code-text">{{fill_in_blank.code_on_input_line_after}}</div>

                            
                    </div>
                    <div class="code-text ">{{fill_in_blank.code_after}}</div>
                    

                    <div class="pt-3 pr-2 mt-5 d-flex justify-content-between">
                        <div>
                        <input class="fill-in-answer px-2" type="submit" value="Svara">
                        <input class="fill-in-hint px-2 " type="button" value="Hint">
                        <input class="fill-in-facit px-2" type="button" value="Facit">
                        </div>
                        <div id="result" class="ms-2">
                            {%if student_fill_result.first.result == 1 %}
                            <i class="fa-solid fa-circle-check fa-2xl align-self-end"></i>
                            {%else%}
                            <i class="fa-solid fa-circle-xmark fa-2xl align-self-end"></i>
                            {%endif%}
                        </div>
                    </div>
                    </form>
                </div>

                <div class="hint-text ">
                    <h6>Hint:</h6>
                    <p>{{fill_in_blank.hint}}</p>
                </div>
                <div class="facit-text ">
                    <h6>Svar:</h6>
                    <p>{{fill_in_blank.answer}}</p>
                </div>
            </div>
            </div>
            {%endfor%}
            {%endif%}
            {% if subchapter.quiz_set.all %}
            {% if score >= 0 %}
            <div class="quiz pb-3 p-2 pl-5 pt-4">
                <h3>Quiz</h3>
                <p>Resultat: {{score}} av {{num_questions}}</p>
            </div>

            {%else%}
            <div class="quiz  p-2 pl-5 pt-4">
                <h3>Quiz</h3>
                {% for quiz in subchapter.quiz_set.all %}
                <form method="POST" action="" class="pt-1 pb-2 ">
                    {% csrf_token %}
                    <label for="{{quiz.question}}"></label>
                    <h6>{{quiz.question}}</h6></input>
                    <input type="radio" name="{{quiz.question}}" value="{{quiz.question}}" hidden></input>
                    <input type="radio" name="{{quiz.op1}}" id="op1" value="{{quiz.op1}}"> {{quiz.op1}}</input>
                    <br>
                    <input type="radio" name="{{quiz.op1}}" id="op2" value="{{quiz.op2}}"> {{quiz.op2}}</input>
                    <br>
                    <input type="radio" name="{{quiz.op1}}" id="op3" value="{{quiz.op3}}"> {{quiz.op3}}</input>
                    <br>
                    <input type="radio" name="{{quiz.op1}}" id="op4" value="{{quiz.op4}}"> {{quiz.op4}}</input>

                    <br>
                    <br>
                    {%endfor%}
                    <input type="submit" value="Skicka in svar">
                </form>
            </div>

            {%endif%}
            {%endif%}
            {%endfor%}
            {%endif%}

        </div>
        <footer class="footer fixed-bottom d-flex justify-content-between align-items-center">

            <div id="sidebarOpen" class="">
                <h5 class="ms-5 ">{{course}}<i class="fas fa-solid fa-bars fa-sm ms-5"></i></h5>
            </div>
            <div class="d-flex  justify-content-around align-items-center">
                {% if page_obj.has_previous %}
                <div class="back-button"> <i class=" fas fa-solid fa-angle-left"></i> <a style="color:black;"
                        href="?page={{ page_obj.previous_page_number }}"> Bakåt</a></div>
                {% endif %}
                <p class="ms-2 me-2 pt-3">Sida {{ page_obj.number }} av {{ page_obj.paginator.num_pages }}</p>
                {% if page_obj.has_next %}
                <div class="next-button"><a style="color:white;" href="?page={{ page_obj.next_page_number }}"> Nästa
                    </a> <i class=" fas fa-solid fa-angle-right"></i></div>
                {%else%}
                <!-- TODO 
        Lägg till så att man hoppar till nästa kapitel, eller att man får bekräftelse att man är klar på något sätt
        -->
                <div class="btn-success p-1"><a style="color:white;"> Klar med kapitlet </a> <i
                        class=" fas fa-solid fa-angle-right"></i></div>
                {% endif %}

            </div>
            <div>
                <div id="sidebar" class="ms-5 me-5">
                    <h5>Uppgifter<i class="fas fa-solid fa-bars fa-sm ms-3 me-2"></i></h5>
                </div>
            </div>
        </footer>
        <!-- <script type="module">
    import {CodeJar} from 'https://medv.io/codejar/codejar.js'
    let jar = CodeJar(document.querySelector('.editor'),highlight);
    let code = jar.toString();

    function highlight(){
        let editor = document.querySelector('.editor');
        editor.classList.add('language-python');
        hljs.highlightElement(editor);
    }
    let runbtn=document.querySelector("#run-button");
    runbtn.addEventListener("click",function(){
        let code = jar.toString();
        console.log(code);
    });
</script> -->


        {%endblock%}